[submodule "website-vuejs"]
	path = website-vuejs
	url = https://github.com/LarissaTerto/website-vuejs
[submodule "viralata"]
	path = viralata
	url = https://github.com/Luizarego/viralata
[submodule "cochicho"]
	path = cochicho
	url = https://github.com/Luizarego/cochicho
[submodule "tagarela"]
	path = tagarela
	url = https://github.com/LivVanessa/tagarela
[submodule "testes"]
	path = testes
	url = https://github.com/LarissaTerto/testes
