[submodule "website-vuejs"]
	path = website-vuejs
	url = https://github.com/LarissaTerto/website-vuejs
[submodule "viralata"]
	path = viralata
	url = https://github.com/Luizarego/viralata
[submodule "cochicho"]
	path = cochicho
	url = https://github.com/Luizarego/cochicho
[submodule "tagarela"]
	path = tagarela
	url = https://github.com/LivVanessa/tagarela
[submodule "cuidando-antigo-v1"]
	path = cuidando-antigo-v1
	url = https://gitlab.com/cuidandodomeubairro/cuidando-antigo-v1
[submodule "cuidando_utils"]
	path = cuidando_utils
	url = https://gitlab.com/cuidandodomeubairro/cuidando_utils
[submodule "documentos"]
	path = documentos
	url = https://gitlab.com/cuidandodomeubairro/documentos
[submodule "esic-livre"]
	path = esic-livre
	url = https://gitlab.com/cuidandodomeubairro/esic-livre
[submodule "gastos-abertos"]
	path = gastos-abertos
	url = https://gitlab.com/cuidandodomeubairro/gastos-abertos
[submodule "geral"]
	path = geral
	url = https://gitlab.com/cuidandodomeubairro/geral
[submodule "viratoken"]
	path = viratoken
	url = https://gitlab.com/cuidandodomeubairro/viratoken
[submodule "website-master"]
	path = website-master
	url = https://gitlab.com/cuidandodomeubairro/website-master
