[submodule "website-vuejs"]
	path = website-vuejs
	url = https://github.com/LarissaTerto/website-vuejs
[submodule "viralata"]
	path = viralata
	url = https://github.com/LarissaTerto/viralata
[submodule "cochicho"]
	path = cochicho
	url = https://github.com/LarissaTerto/cochicho
[submodule "tagarela"]
	path = tagarela
	url = https://github.com/LarissaTerto/tagarela
[submodule "cuidando-antigo-v1"]
	path = cuidando-antigo-v1
	url = https://github.com/LarissaTerto/cuidando-antigo-v1
[submodule "cuidando_utils"]
	path = cuidando_utils
	url = https://github.com/LarissaTerto/cuidando_utils
[submodule "documentos"]
	path = documentos
	url = https://github.com/LarissaTerto/documentos
[submodule "esic-livre"]
	path = esic-livre
	url = https://github.com/LarissaTerto/esic-livre
[submodule "gastos-abertos"]
	path = gastos-abertos
	url = https://github.com/LarissaTerto/gastos-abertos
[submodule "geral"]
	path = geral
	url = https://github.com/LarissaTerto/geral
[submodule "viratoken"]
	path = viratoken
	url = https://github.com/LarissaTerto/viratoken
[submodule "website-master"]
	path = website-master
	url = https://github.com/LarissaTerto/website-master
